---
// Import de Section, es un componente que uso para meter cada una de las secciones de la web
import Section from "@components/Section.astro";

// Import de los iconos
import WorldMap from "@/icons/WorldMap.astro";
import GitHub from "@/icons/Github.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Mail from "@/icons/Mail.astro";

// Import para traer los datos del cs.json al Hero
import { basics } from "@cv";
import { parseConfigFileTextToJson } from "typescript";

// Constantes
const { name, label, image, email, profiles} = basics;
const { city, region } = basics.location;
const SOCIAL_ICONS: Record<string, any> = {
    GitHub,
    LinkedIn
}

// Almacena en githubUrl la url del perfil de GitHub
const githubInfo = profiles.find(({ network }) => network === "GitHub")
const githubUrl = githubInfo?.url

// Almacena en linkedUrl la url del perfil de LinkeIn
const linkedInfo = profiles.find(({ network }) => network === "LinkedIn")
const linkedUrl = linkedInfo?.url

// Crea una cadena con los valores que no sean false separados por " • "
const printInfo = [email, githubUrl, linkedUrl].filter(Boolean).join(" • ");
---

<Section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span>
                <WorldMap />
                {city}, {region}
            </span>
            <footer class="print">
                {printInfo}
              </footer>
            <footer class="no-print">
                {
                    email &&(
                        <a
                            href={`mailto:${email}`}
                            title=`Enviar un mail a ${name} al correo ${email}`
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Mail/>
                        </a>
                    )
                }
                {
                profiles.map(({network,url,username})=>{
                    const Icon = SOCIAL_ICONS[network]

                    return(
                        <a
                        href={url}
                        title={`Visitar el perfil de ${username} en ${network}`}
                        target="_blank"
                        rel="noopener noreferrer"
                        >
                        <Icon />
                        </a>
                    )
                })
                }
            </footer>
        </div>
        <figure>
            <img
                src=`${image}`
                alt=`${name}`
            />
        </figure>
    </div>
</Section>

<style>
    .container{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
    }

    h1 {
        font-size: 2rem;
        color: var(--text-h1);
    }

    h2 {
        color: var(--text-h2-hero);
        font-weight: 500;
        font-size: 1.1rem;
        text-wrap: balance;
    }

     img {
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 128px;
        border-radius: 6px;
    }

    span{
        color: var(--text-hero-span);
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.85rem;
        letter-spacing: -0.05rem;
    }

    footer {
        color: var(--text-footer);
        font-size: 0.65rem;
        display: flex;
        gap: 6px;
        margin-top: 8px;
    }

    footer a {
        color: var(--text-a);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border-a);
        padding: 4px;
        height: 32px;
        width: 32px;
        border-radius: 6px;
        transition: all 0.3s ease;
    }

    footer a:hover{
        color: var(--text-a-hover);
        background-color: var(--background-a-hover);
    }

    @media (width <= 700px) {
    .container {
      flex-direction: column-reverse;
    }

    .info {
      justify-content: center;
      align-items: center;
      padding-right: 0;
      text-align: center;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      text-wrap: balance;
    }

    figure {
      margin: 0 auto;
    }
  }
</style>
