---
// Import para traer los datos del cs.json al Hero
import { basics } from "cv.json";

// Variables
const { name, label, image, email, url } = basics;
const { city, region } = basics.location;
---

<section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span>
                <!-- Icono -->
                {city},{region}
            </span>
            <footer>
                <a
                    href={`mailto:${email}`}
                    title=`Enviar un mail a ${name} al correo ${email}`
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <!-- Icono -->as
                </a>
            </footer>
        </div>
        <figure>
            <img
                src="https://imgs.search.brave.com/Nh48gZxxt8L5bC4GjLzg1pGVvoHgI23U_4lXwABgSq0/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/emFtemFyLmNvbS9p/bWFnZXMvZmlsZXR5/cGVzL2ljby5wbmc"
                alt=`${name}`
            />
        </figure>
    </div>
</section>
